///////////////////////////////////////
// css theme variables / settings
$ruby-red: #CC342D;
$vanilla: #F2F3AE;
$black: #001011;
$white: #f5f7dc;
$grey: #757780;

$font-family:       sans-serif;

$code-font-family:  monospace;

$masthead-color:         $ruby-red;
$masthead-small-color:   $black;

$post-title-color:       $ruby-red;
$post-date-color:        $grey;


$body-color:            $black;
$body-background-color: $white;

$link-color:            $ruby-red;

$headings-color:        $ruby-red;    // h1,h2,h3,h4,h5,h6

$strong-color:          $black;    // strong

$pre-background-color:  $vanilla;    // pre

$blockquote-color:        $black;  // blockquote
$blockquote-border-color: $ruby-red;

$table-border-color:         $black;
$table-odd-background-color: #f9f9f9;


