<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="Website for the Cornwall Ruby User Group, programming for fun and profit!">
    <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
    <link rel="alternate" type="application/atom+xml" href="{{ site.path }}/feed.xml" title="News Feed">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#CC342D">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#CC342D">
  </head>
  <body>

    <header class="masthead">
      <div class="masthead-banner">
        <div class="container">
          <h1 class="masthead-title">
            <a href="/"><img src="/img/crug-white.svg" alt="Cornwall Ruby"></a>
          </h1>
        </div>
      </div>

      <div class="container">

        <nav role="main" class="menu">
          <div class="menu-item">
            <a href="/">Home</a>
          </div>
            {% if site.posts.size > 0 %}
            <div class="menu-item">
              <a href="{{ site.path }}/news.html">News</a>
            </div>
            {% endif %}
          <div class="menu-item">
            <a href="{{ site.path }}/contact.html">Contact</a>
          </div>
        </nav>
        <hr />
      </div>
    </header>
    <div class="container">
      <div id="content">
        {{ content }}
      </div>
    </div>

    <footer>
      <div class="container">
        <small>Logo provided by <a href="https://twitter.com/dannetherton">Dan</a>, Site built by <a href="https://twitter.com/mellett68">Pete</a> - It's open source! suggest a change via pull request <a href="https://github.com/wadtech/cornwall-rug">on Github</a></small>
      </div>
    </footer>
  </body>
</html>
